body{
    overflow-x: hidden;
}
:root{
    --primary-color: #000000ef;;
    --secondary-color: #000000a2;

}
.darkmode{
    --primary-color: #00154e;
    --secondary-color:#00154e93;
}
.carousel{
    margin: 80px 0;
    max-width: 100%;
    height: auto;

}
.carousel-inner{
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 25px;
    border-radius: 5px;
}
.carousel-inner img {
    max-width: 100%;
    height: 35vw;
    opacity: 0.95;
}
.inner-content h1{
    display: flex;
    font-size: 2.5vw;
    margin: 3vw 5.5vw;
    position: absolute;
    z-index: 2;
    color: whitesmoke;
    font-family: Poppins;
    background-color: rgba(0, 0, 0, 0.69);
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 3px;
}
.inner-content h3{
    display: flex;
    margin: 9vw 5.5vw;
    position: absolute;
    z-index: 2;
    font-size: 4vw;
    color: whitesmoke;
    font-family: Poppins;
    background-color: rgba(0, 0, 0, 0.69);;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 3px;
}
.inner-content h1:hover, .inner-content h3:hover{
    transform: scale(1.05);
    transition: 900ms;
    color: #d5ddf198;
}
.carousel-control-prev{
    background-color: rgba(0, 0, 0, 0.692);
    width: 3vw;
}
.carousel-control-prev:hover,.carousel-control-next:hover{
    transition: 200ms;
}
.carousel-control-prev-icon:hover,.carousel-control-next-icon:hover{
    transition: 200ms;
    transform: scale(1.65);
}
.carousel-control-next{
    background-color: rgba(0, 0, 0, 0.692);
    width: 3vw;
}
.carousel-item {
    transition: transform 500ms;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 500ms;
}
.containerone,.containertwo{
    background-color: var(--secondary-color); 
    height: fit-content;
    width: 90%;
    z-index: 2;
    position: relative;
    margin: auto;
    border-radius: 5px;
    padding: 15px 15px;
    font-family: Poppins;
    color: antiquewhite;
    font-size: 1.2vw;
}
.containerone > h1{
    font-size: 2vw;
    font-weight: bold;
}
footer{
    color: antiquewhite;
    position: relative;
    z-index: 2;
    background-color: var(--secondary-color);
    margin-top: 75px;
    font-family: Poppins;
}
.bg-gray-100{
    background-color: var(--secondary-color);
}
.foot-items{
    color: antiquewhite;
    font-size: 1.05vw;
}