* {
    box-sizing: border-box;
}
.navbar,
.menu,
.background {
    position: fixed;
}
:root{
    --primary-color: #000000ef;;
    --secondary-color: #000000a2;
}
.darkmode{
    --primary-color: #00154e;
    --secondary-color:#00154e93;
}
.background {
    z-index: 1;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: url("https://images.wallpaperscraft.com/image/single/books_library_shelves_138556_3840x2160.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    opacity: 0.75;
}
.navbar {
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 72px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background: var(--primary-color);
    color: #f9f9f9;
}

.navbar>button {
    font-size: 28px;
}

.navbar-logo {
    max-width: 100%;
    height: 4.5vw;
}
.nav-item{
    padding: 0 15px;
}
.nav-link{
    font-family: Poppins;
    color: #f9f9f9;
    font-size: 1.25vw;
}
.navbar-nav{
    margin-left: 0px;
}
.nav-link:visited{
    color: #f9f9f9;
}
.nav-link:hover{
    color: lightgray;
    transform: scale(1.2);
    transition: 500ms;
}
.btn{
    padding: 5px 15px;
    font-family: Poppins;
    font-size: 1.25vw;
}