{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<!--Content-->
<section>
    <div class="containerone about-content">
        <h1>About Us</h1>
    </div>
    <br>
    <div class="containerone about-us" data-aos="fade-up" data-aos-duration="900" data-aos-easing="ease-in">
        <h1>About ARSD College Library</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laudantium illo voluptatibus autem soluta
            deserunt ex dolorum veniam aperiam sunt facilis numquam, in quidem nam enim reiciendis eum quibusdam
            temporibus earum eius eligendi ratione? Eius natus fugit voluptatibus magni labore deserunt, animi
            numquam dignissimos aliquid corporis qui nostrum harum obcaecati sint dolores assumenda odit asperiores!
            Perspiciatis nostrum eveniet beatae! Maiores error iure cum consequatur assumenda dicta ex, omnis ea
            cupiditate, hic, aut culpa minima? Voluptatibus molestias labore veritatis soluta voluptatem assumenda
            vitae, alias neque ut, eaque quia, totam laboriosam vel eum porro accusantium nulla! Iure itaque
            quibusdam laudantium mollitia minus odit aut assumenda! Quisquam accusantium a aperiam obcaecati
            voluptas, animi adipisci dolorum, accusamus voluptate quis dolores itaque rerum ipsam praesentium?
            Tempore atque labore possimus dolore voluptate. Aliquid qui, ad ullam delectus cum rerum dolorem. Autem,
            perspiciatis accusantium? Voluptatem praesentium laudantium maiores, enim nulla velit aut. Illum
            accusantium excepturi animi enim?</p>
    </div>
</section>
<br><br><br>
{% endblock body %}