{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<!--Content-->
<section>
    <div class="containerone about-content">
        <h1>About Us</h1>
    </div>
    <br>
    <div class="containerone about-us" data-aos="fade-up" data-aos-duration="900" data-aos-easing="ease-in">
        <h1>About ARSD College Library</h1>
        <br>
        <p>The College Library functions as resource centre for both printed and electronic resources.
            Apart from textbooks and other reading material, the Library also has a large collection of
            reference sources, i.e. encyclopaedias, dictionaries, atlases, yearbooks, handbooks, among
            others. The College has a vast collection of about acquired 1,21,968 books and 2440 gifted
            books and 5398 journals on matters of common interest and different subjects taught in the
            College. It has an up-to-date Textbook Section in addition to a Students’ Aid Fund section. The
            Library subscribes to 23 print journals, 30 popular magazines and 20 newspapers. The Library
            operates on an ‘Open Access’ system. Library services are fully computerized. For general rules
            regarding the use of the Library, students are advised to see the Library notice board. The
            Library uses SOUL Integrated Library Management Software to automate housekeeping
            operations. Library software also facilitates OPAC (Online Public Access Catalogue) functions,
            enabling users to access their required documents. The College Library subscribes to the INFLIBNET-
            NLIST database and is also a member of the Developing Library Network (DELNET).
        </p>
        <br>
        <div class="containertwo">
        <p style="font-size:1.50vw;"><b>Library Working Hour</b></p>
        <p>  Monday-Friday 8:00 AM to 5:30 PM (Circulation Counter 9:30 AM to 4:00 PM)</p>
        <p>  Saturday – 9:00 AM to 4:30 PM (Circulation Counter Closed)</p>
        <p>  Closed- Sunday and other Gazetted Holidays</p>
        </div>
    </div>
</section>
<br><br><br>
{% endblock body %}