{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<!--Slider-->
<section>
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="inner-content">
                <h1>Atma Ram Sanatan Dharma College</h1>
                <h3>Library</h3>
            </div>
            <div class="carousel-item active" data-bs-interval="2500">
                <img src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=628&q=80"
                    class=" img-fluid d-block w-100" alt="Image1">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
                <img src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                    class="img-fluid d-block w-100" alt="Image2">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
                <img src="https://images.unsplash.com/photo-1568667256549-094345857637?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80"
                    class="img-fluid d-block w-100" alt="Image3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!--Content-->
<section>
    <div class="containerone" data-aos="fade-left" data-aos-duration="900" data-aos-easing="ease-in">
        <h1>ARSD College Library | Home</h1>
        <br>
        <p><lord-icon src="https://cdn.lordicon.com/ttioogfl.json" trigger="morph"
                colors="primary:#121331,secondary:#a39cf4,tertiary:#e88c30,quaternary:#ffffff,quinary:#ffffff"
                style="width:150px;height:150px">
            </lord-icon>
            <lord-icon src="https://cdn.lordicon.com/cqmhvubj.json" trigger="hover"
                colors="outline:#121331,primary:#794628,tertiary:#794628,quaternary:#ffffff,quinary:#e88c30"
                style="width:150px;height:150px">
            </lord-icon>
            <lord-icon src="https://cdn.lordicon.com/dqxvvqzi.json" trigger="hover"
                colors="outline:#121331,primary:#e88c30,secondary:#66a1ee" style="width:150px;height:150px">
            </lord-icon>
            <lord-icon src="https://cdn.lordicon.com/bjnaomnr.json" trigger="hover"
                colors="outline:#121331,primary:#e88c30,secondary:#7166ee,tertiary:#ffffff"
                style="width:150px;height:150px">
            </lord-icon>
            <lord-icon src="https://cdn.lordicon.com/ccwgfhfg.json" trigger="hover"
                colors="outline:#000000,primary:#c71f16,secondary:#1b1091,tertiary:#f2e2d9"
                style="width:150px;height:150px"></lord-icon>
            <lord-icon src="https://cdn.lordicon.com/pqxdilfs.json" trigger="hover"
                colors="outline:#131432,primary:#ffffff,secondary:#000000,tertiary:#ffffff"
                style="width:150px;height:150px">
            </lord-icon>
        </p>
    </div>
    <br><br><br>
    <div class="containertwo" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est in id voluptate atque! Quod saepe,
            explicabo fugiat cum nostrum necessitatibus blanditiis officiis perferendis recusandae, odit et quas
            dignissimos nemo? Eligendi accusamus perspiciatis necessitatibus quaerat commodi. Ipsa, harum quisquam!
            Molestias ipsum sed atque in incidunt? Nam ipsa libero fugiat, quis architecto quibusdam possimus minus.
            Doloremque temporibus maiores, eum dolorem, commodi sint vitae dolores officia saepe fugit quaerat
            nesciunt provident exercitationem adipisci veniam debitis alias omnis optio. Autem magnam earum mollitia
            atque minima, ipsam animi quos eius quaerat distinctio fuga quibusdam iure quo recusandae in repudiandae
            odio! Velit nulla dicta optio nostrum beatae! Dolor doloribus, quia sapiente omnis quis aliquid aut
            harum itaque. Ducimus, laboriosam similique unde ab aspernatur aliquid reiciendis sapiente.</p>
    </div>
</section>

{% endblock body %}